@*@model IEnumerable<PROGETTO.Models.Cliente>

@{ 
    ViewBag.Title = "Index";
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Prova</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/Content/Site.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Microsoft.AspNet.Identity
</head>
<body>

    <div class="page dashboard">
        <div class="leftMenu">
            <div class="menu">
                <div class="utenteLoggato">
                    <span class="grigio">Accesso effettuato come:</span>
                    <div class="inlinea">
                        <span class="blu"> @Html.ActionLink("Hi " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </span>
                        <div class="logout">
                            <span class="rosso" ><a class="rosso" href="javascript:document.getElementById('logoutForm').submit()">Esci</a></span>
                        </div>
                    </div>
                </div>
                <ul class="vociMenu">
                    <li>
                        <div class="inline">
                            <span class="voce"> @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</span>
                        </div>
                    </li>
                    <li>
                        <div class="inline">
                            <span class="voce"> @Html.ActionLink("Gestione clienti", "Index", "Clienti") </span>
                        </div>
                    </li>
                    <li class="campiFormazione">
                        <div class="inline">
                            <span class="voce">@Html.ActionLink("Gestione commesse", "Index", "Commessa")</span>
                        </div>
                    </li>
                    <li class="campiFormazione">
                        <div class="inline">
                            <span class="voce">@Html.ActionLink("Registrazione", "Register", "Account")</span>
                        </div>
                    </li>
                    <li class="campiFormazione">
                        <div class="inline">
                            <span class="voce">@Html.ActionLink("Login", "Login", "Account")</span>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="pageBody">
            <div class="container">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Entity & Identity Framework</p>
                </footer>
            </div>
        </div>
       
    </div>



    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
