@*@model IEnumerable<PROGETTO.Models.Cliente>

@{ 
    ViewBag.Title = "Index";
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Prova</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/Content/Site.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="page dashboard">
        <div class="leftMenu">
            <div class="menu">
                @*<div class="logo">
                        <img src="Gfx/logo.svg" />
                    </div>*@
                <div class="utenteLoggato">
                    <span class="grigio">Accesso effettuato come:</span>
                    <div class="inlinea">
                        <span class="blu">Admin</span>
                        <div class="logout">
                            <span class="icon-logout"></span>
                            <span class="rosso">Esci</span>
                        </div>
                    </div>
                </div>
                <ul class="vociMenu">
                    <li>
                        <div class="inline">
                            <span class="icon-group"></span>
                            <span class="voce">@Html.ActionLink("Gestione Utenti", "Index", "Clienti")</span>
                        </div>
                        <span class="icon-freccia_avanti"></span>
                    </li>
                    <li>
                        <div class="inline">
                            <span class="icon-coins"></span>
                            <span class="voce"><a href="home.html">Gestione clienti</a></span>
                        </div>
                        <span class="icon-freccia_avanti"></span>
                    </li>
                    <li class="campiFormazione">
                        <div class="inline">
                            <span class="icon-book"></span>
                            <span class="voce">Gestione commesse</span>
                        </div>
                        <span class="icon-freccia_avanti active"></span>
                    </li>
                    @*<div class="elencoFormazione">
                            <ul>
                                <li class="top active">Calendario corsi</li>
                                <li>Elenco corsi</li>
                                <li>Sconti</li>
                                <li>Schedulazioni</li>
                            </ul>
                        </div>*@
                </ul>
                @*<div class="footer">
                        <span class="sviluppo">©2021 Aiaf<br />Sviluppo a cura di Easynet S.p.A.</span>
                    </div>*@
            </div>
        </div>

        @*<div class="pageBody">
                <div class="pageTitle">
                    <span>Gestione utenti</span>
                </div>
                <div class="gestione clienti">
                    <form>
                        <div class="input inlinea">
                            <label> Codice </label>
                            <input type="text" placeholder="1234">
                        </div>
                        <div class="input inlinea">
                            <label>Ragione sociale</label>
                            <input type="text" placeholder="">
                        </div>
                        <div class="input inlinea">
                            <label>Telefono</label>
                            <input type="text" placeholder="3893643114">
                        </div>
                        <div class="input inlinea">
                            <label>Mail</label>
                            <input type="text" placeholder="admin@enet.it">
                        </div>
                    </form>
                    <div class="bottoni">
                        <button title="Salva">Salva</button>
                    </div>
                </div>
                <div class="pageTitle">
                    <span>Gestione commesse</span>
                </div>
                <div class="gestione commesse">
                    <form>
                        <div class="input inlinea">
                            <label>Codice</label>
                            <input type="text" placeholder="1234">
                        </div>
                        <div class="input inlinea long">
                            <label>Descrizione</label>
                            <textarea type="text" placeholder=""></textarea>
                        </div>
                        <div class="input inlinea">
                            <label>Codice cliente</label>
                            <input type="text" placeholder="1234">
                        </div>
                        <div class="input inlinea">
                            <label>Data inizio</label>
                            <input type="date" placeholder="27/09/2021">
                        </div>
                        <div class="input inlinea">
                            <label>Data fine</label>
                            <input type="date" placeholder="">
                        </div>
                        <div class="input inlinea">
                            <label>Importo</label>
                            <input type="text" placeholder="€">
                        </div>
                    </form>
                    <div class="bottoni">
                        <button title="Salva">Salva</button>
                    </div>
                </div>
            </div>*@
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Contoso University</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
