@model PROGETTO.Models.CommessaStackholder

@{
    ViewBag.Title = "Delete";
}

<div class="pageTitle">
    <span>Delete</span>
</div>
<h3 class="titolo">Are you sure you want to delete this?</h3>
<div>
    <div class="pageSubtitle">
        <h4>Rilevamento</h4>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommessaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommessaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StackholderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StackholderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroRilevamentoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroRilevamentoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRilevamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRilevamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Potere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interesse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interesse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Impatto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Impatto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
