@model IEnumerable<PROGETTO.Models.Commessa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.RagioneSociale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.RagioneSociale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInizio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommessaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommessaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommessaID })
        </td>
    </tr>
}

</table>
